// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montaga&family=Montserrat&family=Roboto&display=swap');

.customize-font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.customize-font-Arial {
    font-family: 'Arial', sans-serif;
}

.customize-font-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.customize-font-Lato {
    font-family: 'Lato', sans-serif;
}

.customize-font-Montaga {
    font-family: 'Montaga', sans-serif;
}
