.wrapper {
    display: flex;

    &.wrapper-basic {
        .col {
            padding: 100px;

            @media screen and (max-width: $breakpoint-sm) {
                padding: 30px;

                &:not(:first-child) {
                    display: none;
                }
            }
        }
    }
}
